<!DOCTYPE html>
<html>
<head>
	<title>Air Quality Monitoring</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
	<nav class="navbar navbar-default">
    	<div class="container-fluid">
        	<div class="navbar-header">
      			<a class="navbar-brand" href="#">Air Quality Monitor</a>
    		</div>
        	<ul class="nav navbar-nav">
            	<li class="active"><a href="#">Home</a></li>
      			<li><a href="#">Page 1</a></li>
      			<li><a href="#">Page 2</a></li>
      			<li><a href="#">Page 3</a></li>
    		</ul>
 		 </div>
	</nav>
     
    <div style="margin-left:2em">  
		<h3>You've connected to peer {{peer_num}}</h3>
    </div>
    <div style="margin-left:2em">
    <p>Choose your city</p>
		<select name="Area" id="area">
    		<option value="newyork">New York</option>
			<option value="camden">Camden</option>
        	<option value="newark">Newark</option>
        	<option value="holtsville">Holtsville</option>
		</select>
	</div>
</body>
</html>