<!DOCTYPE html>
<html>
<head>
    <title>Air Quality Monitoring</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="predictstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
	<nav class="navbar navbar-default">
    	<div class="container-fluid">
        	<div class="navbar-header">
      			<a class="navbar-brand" href="#">Air Quality Monitor</a>
    		</div>
        	<ul class="nav navbar-nav">
            	<li><a href="/home/index">Home</a></li>
      			<li class="active"><a href="/home/predict">Future Prediction</a></li>
    		</ul>
 		 </div>
	</nav>

    
    <div class="container">
        <table class="table table-bordered">
	    <h3>Prediction for the next 10 days</h3>
            <tr>
                <td>NO2_Mean</td>
                <td>NO2_1st_Max_Value</td>
                <td>NO2_AQI</td>
                <td>O3_Mean</td>
                <td>O3_1st_Max_Value</td>
                <td>O3_AQI</td>
                <td>SO2_Mean</td>
                <td>SO2_1st_Max_Value</td>
                <td>SO2_AQI</td>
                <td>CO_Mean</td>
                <td>CO_1st_Max_Value</td>
                <td>CO_AQI</td>
            </tr>
	    {% for d in demo %}
	    	<tr>
			{% for v in d %}
				<td>{{v}}</td>
			{% endfor %}
		</tr>
	    {% endfor %}
		
        </table>
    </div>
</body>
</html>